/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-08-2016, 12:36:01
    Author     : Stegger
*/

/* Import the custom font named CHAWP */
@font-face{
    -fx-font-family: "CHAWP";
    src: url("/fonts/chawp.ttf") format("truetype");
}

/* A class style which sets the background color to green and the font to CHAWP */
.chalkstyle{
    -fx-background-color: #346b31;
    -fx-font-family: "CHAWP";
}
/* A class style that sets the font type to CHAWP */
.chalkFont{
    -fx-font-family: "CHAWP";
}
/* A class style that is used mainly for our menu buttons */
.buttonSkin{
    -fx-border-color: "WHITE";
    -fx-background-color: #346b31;
    -fx-font-family: "CHAWP";
}
/* A class style that is used for our board buttons */
.boardButtons{
    -fx-border-color: "WHITE";
    -fx-background-color: #346b31;
    -fx-font-family: "CHAWP";
    -fx-text-fill: "WHITE";
    -fx-font-size: 60;
}

